* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  gap: 100px;
  background-color: #f7fdfc;
  max-width: 1440px;
  height: 840px;
  padding-left: 150px;
  padding-right: 150px;
  justify-items: center;
}

@media screen and (max-width: 960px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        padding-left: 32px;
        padding-right: 32px;
        grid-row-gap: 50px;
    }
}

@media screen and (max-width: 720px) {
    .main-container {
        flex-direction: column;
        align-items: center;
        padding-left: 32px;
        padding-right: 32px;
        grid-row-gap: 50px;
    }
}
.left-hand-section {
  padding-top: 205px;
}

@media screen and (max-width: 720px) {
  .left-hand-section{ 
    padding-top: 32px;
    padding-bottom: 32px;

  }
  }

.logo {
  width: 78px;
  height: 80px;
}

.left-section-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000b0a;
  font-weight: 500px;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.left-section-sub-heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #737373;
  font-weight: 400px;
  font-size: 16px;
  line-height: 25px;
}

@media screen and (max-width: 720px) {
  .left-section-sub-heading {
    display: none;
    
  }
  
  }
  @media screen and (max-width: 720px) {
    .left-hand-section{ 
      padding-top: 32px;
      padding-bottom: 32px;
  
    }
    }

.left-section-sub-heading-mobile {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #737373;
  font-weight: 400px;
  font-size: 16px;
  line-height: 25px;
}


@media screen and (min-width: 720px) {
  .left-section-sub-heading-mobile {
    display: none;
    
  }
  
  }
.right-side-section {
  margin-top: 81px;
  margin-bottom: 80px;
  background-color: white;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-style: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 30px 60px;
}


.form-f-and-l-name {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

@media screen and (max-width: 720px) {
    .form-f-and-l-name {
        flex-direction: column;
        align-items: center;
        padding-left: 32px;
        padding-right: 32px;
        grid-row-gap: 50px;
    }
}

.label-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #737373;
  font-weight: 400px;
  font-size: 16px;
  padding-bottom: 10px;
}

.input-label {
  width: 200px;
  padding: 10px 10px;
}

.activity-label {
  width: 420px;
  padding: 10px 10px;
}

.activity {
  padding-top: 20px;
}

.password-label {
  width: 420px;
  padding: 10px 10px;
}

.password {
  padding-top: 20px;
}

.button {
  background-color: #2ec4b6;
  color: white;
  width: 420px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
  border-style: none;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.terms-of-use {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding-top: 30px;
  text-align: center;
}
a {
  color: #2ec4b6;
}
